{% extends 'basic.html' %}

{% load static %}

{% block body %}
  
  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container">
        <h2 class="title">Login</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="#url">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Login </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
   <!-- /contact-->
  <div class="contact-form py-5" id="contact">
    <div class="container py-lg-5 py-md-4">
      
      <h3 class="hny-title mb-lg-5 mb-4">Login </h3>
        <div class="contacts12-main mb-5">
            <form action="/login/" method="post">
              {% csrf_token %}
                <div class="main-input">
                    <div class="d-grid">
                        <input type="text" name="uname" id="w3lName" placeholder="Your username" class="contact-input" />
                        <input type="password" name="pass" id="w3lPhone" placeholder="Your password"
                            class="contact-input" />
                    </div>
                    
                    <button class="btn btn-style btn-primary btn-contact">Login Now</button>
                </div>
            </form>
        </div>
            
       
    </div>
  </div>
   

<!--//contact-->
  <!--/w3l-footer-29-main-->
{% endblock %}